/* cvstyle.css */
/* Button Styles */
.btn-primary {
    background-color: #ff5757; /
    color: #ffffff; 
    border: none;
    transition: all 0.3s ease; 
}

.btn-primary:hover {
    background-color: #ffffff; 
    color: #ff5757;
    font-style:inherit; 
    transform: scale(1.05); 
    border: 1px solid #ff5757;
}

.btn-secondary {
    background-color: #563d7c;
    border: none;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-secondary:hover {
    background-color: #6f42c1;
    transform: scale(1.05);
    color: white;
}
/* Customize navigation bar */
.navbar {
    background-color: #343a40 !important;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-link {
    color: #ffffff !important;
    padding: 15px 20px;
    position: relative;
    display: inline-block;
    font-size: 1.1rem; /* Increase font size */
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    width: 100%;
}

.navbar-logo img {
    max-width: 30%;
    height: auto;
}

/* Header */
#header {
    background-color: #eaeff5 ;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #343a40;
    padding: 50px;
}

#header h1 {
    font-size: 5rem;
    font-weight: bold;
}

#header p {
    font-size: 1.5rem;
}


/* Header image style */
.header-image img{
    max-width: 90%;
    max-height: 50%; 
    object-fit: cover;
    border-radius: 2%;
    margin-bottom: 20px; /* btw img and text */
}

/*About section style */

/* Contact Icons */
.contact-icon {
    color: #343a40;
    transition: color 0.3s;
}

.contact-icon:hover {
    color: #ff5757;
}

/* Center the image vertically */

.d-flex.align-items-center {
    display: flex;
    align-items: top;
    justify-content: top;
    height: 100%;
}

.flex-column {
    flex-direction: column !important;
}

.align-items-center {
    align-items: center !important;
}

.about-icon i {
    color: #6f42c1;
    transition: color 0.3s;
}


/* Align contact text properly */
.contact-text {
    margin-bottom: 10px;
}

.about-icon {
    transition: transform 0.3s, color 0.3s;
}

.about-icon:hover {
    transform: translateY(-10px);
}

.about-icon:hover i {
    color: #ff5757;
}

.about-icon:hover p {
    color: #ff5757;
}


/* Experience section style */
#experience .timeline {
    position: relative;
    margin-left: 20px; /* 타임라인을 좌측으로 이동 */
}

#experience .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px; /* 타임라인 선의 너비를 조정 */
    background-color: #550254; /* 타임라인 색상 */
    left: 0;
    margin-left: -1px; /* 타임라인 선의 가운데 정렬 */
}

#experience .timeline-item {
    margin-bottom: 20px; /* 각 항목 사이의 간격을 줄임 */
    margin-left: 30px;
    position: relative;
}

#experience .timeline-content {
    background-color: #ebe7fb; /* 박스의 배경색 */
    padding: 10px; /* 박스의 안쪽 여백 */
    border-radius: 5px; /* 박스의 테두리를 둥글게 */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#experience .timeline-content h3 {
    margin-top: 0;
    font-size: 1.25rem; /* 제목의 글꼴 크기 */
}

#experience .timeline-content p {
    margin-bottom: 5px;
    font-size: 1rem; /* 내용의 글꼴 크기 */
    color: #6c757d; /* 텍스트 색상 */
}


/* Project Section */
.project-box {
    background-color: #f9f6f6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 20px;
}

.project-skills i {
    color: #6c757d;
    margin-right: 10px;
}


video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.styled-video {
    width: 100%;
    height: auto;
    border-radius: 20px; /* 둥근 모서리 */
    border: 5px solid black; /* 검은색 테두리 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* 그림자 효과 */
    outline: none; /* 기본 아웃라인 제거 */
}
.styled-video:hover {
    transform: scale(1.02); /* 약간 확대 */
    transition: transform 0.2s ease-in-out;
}

/* Style for project notes */
.project-notes ul.note-list {
    list-style-type: disc;
    padding-left: 40px;
    margin-top: 10px; /* 아이콘 아래로 마진 추가 */
}

/* Style for project skills icons */
.project-skills .skills-icons {
    display: flex;
    align-items: center;
    margin-top: 10px; /* 아이콘 아래로 마진 추가 */
}

.project-skills .skills-icons i {
    margin-right: 10px;
    padding-left: 20px;
}

/* Adjust background color for alternating sections */
.bg-light {
    background-color: #f8f9fa !important;
}

/*Footer Section */
.footer {
    background-color: #343a40 !important;
    color:#eaeff5;
    margin: auto;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: 100%;
    font-size: 1.2rem;
}

.footer-menu li {
    margin: 10px 0;
}

.footer-menu a {
    text-decoration: none;
    color: #eaeff5; 
}

.footer-menu a:hover {
    color: #ff5757;
}

.footer-contact-icon {
    color: white;
    transition: color 0.3s;
}
.footer-contact-icon:hover {
    color: #ff5757;
}


/* Media query for small screens */
@media (max-width: 768px) {
    #header .container{
        flex-direction: column; 
        padding: 10px; 
    }

    .header-image {
        max-height: 30%; 
        margin-bottom: 10px; 
    }

    #header h1 {
        font-size: 3rem; 
    }

    #header p {
        font-size: 1.25rem; 
    }
    .skill-item {
        flex: 1 0 50%;
        max-width: 50%;
    }
    .col-lg-3.col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
